body {
	/* déclaration des variables */
	/* palette de couleurs Source http://www.code-couleur.com/palettes.html */
	--couleur1: #E6E2AF;
	--couleur2: #A7A37E;
	--couleur3: #EFECCA;
	--couleur4: #046380;
	--couleur5: #002F2F;

	/* les largeurs du site */
	--largeur_PC:1080px;
	--largeur_mobile:750px;
	/* fin de déclaraion de variables */
	
	background-color:var(--couleur3);
	font-family: 'Quicksand', sans-serif;
}

/* l'en-tete ---------------------------------------------------------------------------------- */
header {
	margin-bottom:5px;
	background-image:linear-gradient(to right, white, var(--couleur5));
	color:black;
}
header img {
	max-height: 80px;
	padding: 8px;
	vertical-align:middle;
}

header p {
	margin:10px;
	font-weight:bold;
	font-size: 30px;
}

header, footer, main { 
	max-width:1080px;
	font-size:12px;
	margin:auto;
}

/* Section ------------------------------------------------------------------- */
section {
	background-color:yellow;
	padding:5px;
}

section p {
	font-size:25px;
}

section h1 { font-size:30px; }


/* pied de page ------------------------------------------------------------------- */
footer {
	background-color:var(--couleur2);
	margin-top:9px;
	display: flex;
    justify-content: center;
}

footer p, footer img {
	display:inline-block;
}

footer img {
	height: 40px;
	vertical-align:middle;
	margin: 9px 0 9px 0;
}

footer p {
	margin:0 20px 0 5px;
	font-size:16px;
	color:var(--couleur5);
}

/* Avertissement pour petits écrans ------------------------------------------------------------------- */
#avertissement {
	display:none;	/* non affiché par défaut */
	color:white;
	background-color:red;
	margin:auto;
	padding:10px;
	margin-bottom:5px;
}

#avertissement p,#avertissement h1 { margin: 9px 0 0 0; }

#avertissement p { font-size:18px; }

/* Modifications pour affichage sur les petits écrans ============================================= */
@media(max-width: 767px)
{
    section { background-color:orange;	}
    
    header { color:white; }
	
	#avertissement { display:block; }	/* provoque l'affichage de l'avertissement s'il est défini */

	footer p { display:none; }
}
