body {
	/* déclaration des variables */
	/* palette de couleurs Source http://www.code-couleur.com/palettes.html */
	--couleur1: #E6E2AF;
	--couleur2: #A7A37E;
	--couleur3: #EFECCA;
	--couleur4: #046380;
	--couleur5: #002F2F;

	/* les largeurs du site */
	--largeur_PC:1080px;
	--largeur_mobile:750px;
	/* fin de déclaraion de variables */
	
	background-color:var(--couleur3);
	font-family: 'Quicksand', sans-serif;

	display:flex;
	flex-direction:column;
}

header, footer, main { max-width:1080px; }

/* l'en-tete ---------------------------------------------------------------------------------- */
header {
	margin-bottom:5px;
	background-image:linear-gradient(to right, white, var(--couleur5));
	color:black;
	display:flex;
	align-items:center;
}

header img {
	display:block;
	max-height: 80px;
	padding: 8px;
	vertical-align:middle;
}

header p {
	margin:10px;
	font-weight:bold;
	font-size: 30px;
}

/* Main ---------------------------------------------------------------------------------------- */
main {
	display:flex;
	flex-wrap: wrap;
}

/* Section ------------------------------------------------------------------- */
section {
	background-color:yellow;
	padding:5px;
	font-size:18px;
}

section h1 { font-size:30px; }

section p,section h1 { margin: 9px 0 0 0; }

/* pied de page ------------------------------------------------------------------- */
footer {
	background-color:var(--couleur2);
	margin-top:9px;
	display:flex;
    justify-content:center;
}

footer img {
	display:block;
	height: 40px;
	vertical-align:middle;
	margin: 9px 0 9px 0;
}

footer p {
	margin:0 20px 0 5px;
	font-size:16px;
	color:var(--couleur5);
}

footer a {
	display:flex;
	align-items:center;
}
