/* Avertissement pour petits écrans ------------------------------------------------------------------- */
#avertissement {
	display:none;	/* non affiché par défaut */
	color:white;
	background-color:red;
	margin:auto;
	padding:10px;
	margin-bottom:5px;
}

#avertissement p,#avertissement h1 { margin: 9px 0 0 0; }

#avertissement p { font-size:18px; }

@media(max-width: 767px)
{
    section { background-color:orange;	}
    
    header { color:white; }

    section { width:auto; }
	
	section, nav, #avertissement { display:block; } /* l'avertissement s'affiche s'il est défini */

	nav  { width:100%; }	/* désormais la barre de navigation prend toute la largeur */
	
	footer p { display:none; } /* Les textes disparaissent dans le pied de page */

	footer img { margin-right:20px; }
}
